<section class="form-wrapper">
    <mat-tab-group>
        <mat-tab label="РЕДАКТОР ФОРМ"> <app-custom-form-builder [form] = "form" (updateForm) = "onFormEvent($event)"></app-custom-form-builder> </mat-tab>
        <mat-tab label="JSON СХЕМА"> <app-form-json [form] = "form"></app-form-json>  </mat-tab>
        <mat-tab label="ПРЕДПРОСМОТР"> <app-rendered-form [form] = "form"></app-rendered-form> </mat-tab>
    </mat-tab-group>
    <div class="form-wrapper__btn" [class.active] = "loading">
        <button class="btn btn-save btn-primary mt-3" (click) = "saveForm()">
            <span>Save form</span>
            <div class="form-wrapper__btn-spinner"></div>
        </button>     
    </div>    
</section>

