app-rendered-form {
    max-width: 600px;
    display: block;
    margin:0 auto;
}

.form-wrapper {
    position: relative;
    background-color: #edecec;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.form-wrapper__btn {
    position: absolute;
    right:50px;
    top:35px;
    cursor: pointer;
    z-index: 10;
}

.form-wrapper__btn .btn {
    position: relative;
    padding: .375rem 1.5rem;
}

.form-wrapper__btn .btn span {
    position: relative;
    display:block;
    transition: all .3s;
}

.form-wrapper__btn .form-wrapper__btn-spinner {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    opacity: 0;
    z-index: 1;
    transition: all .3s;
    transition-timing-function: ease-in;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: ld-spin 1s infinite linear;
}

.form-wrapper__btn .form-wrapper__btn-spinner:after {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    border-radius: 50%;
    border: .3em solid #fff;
    border-left-color: transparent;
}

.form-wrapper__btn.active .form-wrapper__btn-spinner {
    opacity: 1;
}

.form-wrapper__btn.active .btn span {
    transform: translateX(-.6em);
}

@keyframes ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}