<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="SWITCH1" name="SWITCH1" checked="">
  <label class="custom-control-label" for="SWITCH1">Switch</label>
</div>