<div class="btn-group"> 
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
        <span class="fa icon-left"></span> 
        Кнопка
    </button> 
    <div class="dropdown-menu"> 
        <a class="dropdown-item" href="#">Dropdown link</a> 
        <a class="dropdown-item" href="#">Dropdown link</a> 
    </div> 
</div>