@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~formiojs/dist/formio.full.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-tab-body-content {
  overflow: hidden !important;
}

.builder-component {
    background-color: #fff;
    padding:20px;
}

.builder-component input {
  outline:none;
  border:none;
  border-bottom:1px solid #ccc;
  border-radius:0;
}

.builder-component .form-control:focus {
  box-shadow:none;
}

.builder-component input:focus {
  outline:none;
  border:none;
  border-bottom:1px solid #0062cc;
}

.formio.row {
  flex-flow:row-reverse;
}

.header-sidebar {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-flow:row;
  justify-content: space-between;
  background-color: #fff;
}

.header-sidebar .header-sidebar__item {
  list-style:none;
  margin-right: 10px;
  padding: 4px 9px;
  background-color: #fff;
  transition: all ease-in 0.1s;
  cursor: pointer; 
}

.header-sidebar .header-sidebar__item:last-child {
  margin-right: 0;
}

.header-sidebar .header-sidebar__item:hover {
  background-color: #007bff;
  color:#fff;
}
/* 
tbody['ref'=datagrid-schema.varcol-tbody],
tbody['ref'=datagrid-schema.varwidth-tbody],
tbody['ref'=datagrid-schema.visibility-no-grid-tbody] {
  
} */

.choices__list--single .choices__item--selectable span {
  white-space: nowrap;
  overflow: hidden;
}

.choices__list--single .choices__item {
  overflow: hidden;
}

.has-feedback .form-control.selection {
  padding-right: 50px;
}

.formio-edit-form__h {
  font-size: 12px;
}

/* .builder-component .tooltip {
  display:none;
} */

.builder-component {
  padding:0;
}

.builder-component__edit {
  padding: 15px;
}

.formio-edit-form__head {
  background: #fafafa;
  padding-top: 23px;
  padding-bottom: 23px;
  display:flex;
  justify-content: space-between;
}

.formio-edit-form__btn .btn {
  padding: 1px 6px;
}

.formio-edit-form__btn i {
  font-size: 16px;
}

.formbuilder .formio-edit-form__accord .formio-component-form {
  height: auto;
  text-align: left;
  color: inherit;
  padding-top: 0;
  border:none;
}

.formbuilder .tab-pane.container {
  padding:0;
}

.formbuilder .formcomponents .formcomponents-cont {
  background-color: #fff;
}

.formbuilder .nav-tabs {
  justify-content: center;
}

.formbuilder .card.no-radius,
.formbuilder .card-header.no-radius,
.formbuilder .card-header.no-radius button {
  border-radius:0;
}

.formcomponents-cont {
  position: fixed;
  right:50px;
  width: 332px;
  min-height: 160px;
  transition: all .1s ease-out;
  transform: translateY(0px);
  z-index: 3;
}

.formcomponents-cont .tab-content {
  height: 87vh;
  overflow: auto;
}

.formcomponents.sticky .formcomponents-cont {
  transform: translateY(-100px);
  transition: all .4s ease-out;
}

/* layout for rows --start */

.form-group.row-container {
  display: flex;
}

.form-group.row-container fieldset {
  flex-grow: 1;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN .builder-components {
  flex-flow:column;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN .builder-components fieldset .builder-components {
  display: flex;
  flex-flow:row;
}

.form-group.row-container fieldset .formio-component-FIELDSET_MAIN 
.builder-components fieldset .builder-components .builder-component {
  flex-grow: 1;
}

/* layout for rows --end */

.formio-builder-components .builder-component .form-group,
.form-group.formio-component {
  margin-bottom: 0;
}

.formio-component {
  font-size: 14px;
}

.formio-component .btn, .formio-component .form-control {
  font-size: 0.9rem;
} 


.drag-container {
  padding:0;
}

.formio-builder-components .builder-component__edit {
  width: 100%;
}

.builder-component__back {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.form-control {
  border:none;
  border-bottom: 1px solid #ced4da;
  border-radius:0;
}

formio-input-date.form-control-custom-field {
  display: flex;
  border: none;
  padding: 0;
}

formio-input-date.form-control-custom-field[type='hidden'] {
  display: none;
}

label.border-label {
  border: 1px solid red;
  padding:10px;
}